html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.hide{
    display:none;
}
.center-items {
    margin: 0 auto;
}
.text-danger{
    white-space:nowrap;
    display:flex;
}
.checkbox {
    border: 1px solid #344eb2;
    width: .75rem;
    height: .75rem;
    border-radius: .25rem;
}
.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0rem;
}
.control-label{
    max-width:160px;
    min-width:80px;
    word-wrap:break-word;
    white-space:nowrap;
    padding:0.1rem 0.3rem;
    margin-right:.25rem;
    display:flex;
}
#editor{
    height:360px;
}
.bg-img1 {
    background: url(/lib/images/loginbk.png)
}
.logbox {
    width: 460px;
    margin: 1rem auto;
    padding: 2rem;
    background: #fff;
    border:1px solid #444;
    border-radius: .75rem;
    box-shadow: 5px 5px 4px #888888;
}
.ck-editor__editable_inline {
    height: 360px;
}